@import "~mdb-ui-kit/css/mdb.min.css";

body {
  background-image: url("../images/nasa_bg.jpg");
  width: 100%;
  height: max-content;
  min-height: 100%;
  padding: 0rem 0rem 100% 0rem !important;
  padding-bottom: 0% !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.pageContainer {
  margin-top: 5%;
}

.test {
  color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}
