<!DOCTYPE html>
<html>
  <head>
    <title>TRON AI TRAINING ENV</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/canvas.css') }}"
    />

    <!-- Import TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <!-- Import tfjs-vis -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-vis@1.0.2/dist/tfjs-vis.umd.min.js"></script>
  </head>

  <body>
    <input id="trainButton" type="button" value="next" />
    <!-- Import the main script file -->
    <script src="{{ url_for('static',filename='bundles/tronAI/bundle.js') }}"></script>
  </body>
</html>
